html {
    font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1.5rem !important;
    color: #212529;
}
a {
    text-decoration: none !important;
    color: #212529 !important;
}
a:hover {
    text-decoration: none !important;
}
ul {
    list-style: none;
    padding: 0;
}
.btnn {
    font-size: 1.6rem !important;
    text-align: center;
    padding: 0.7rem 1rem;
    border: 0.1rem solid #808080 !important;
    background-color: #ffffff;
    border-radius: 0.5rem;
    color: #333 !important;
    cursor: pointer;
    &:hover {
        border: 0.1rem solid #404040 !important;
    }
    &--primary {
        background-color: #f0c040 !important;
    }
    &--full {
        width: 100%;
    }
    &--secondary{
        color: #f0f0f0;
    }
}
.cards > div {
    font-size: 1.5rem;
}
.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    height: 100%;
}

.header {
    grid-area: "header";
}
.main {
    grid-area: "main";
}
#root {
    height: 100%;
}
.container{
    height: 100%;
}
//DETAIL PRODUCT
.back-to-result {
    padding: 1rem 0;
}
.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    &__image {
        flex: 2 1 51rem;
        & > img {
            max-width: 51rem;
            width: 100%;
        }
    }
    &__info {
        flex: 1 1 30rem;
        & > ul > li {
            margin-bottom: 1rem;
        }
    }
    &__action {
        flex: 1 1 30rem;
        border: 1px solid #808080;
        border-radius: 0.5rem;
        background-color: #f8f8f8;
        padding: 1rem;
        & > ul > li {
            margin-bottom: 1rem;
        }
        & > ul > li:last-child {
            display: flex;
            flex-direction: column;
        }
    }
}

//CART
.cart {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    align-items: flex-start;
    &__list {
        flex: 3 1 60rem;
        padding-right: 2rem;
        &__container {
            padding: 0;
            list-style-type: none;
            & > li {
                display: flex;
                justify-content: space-between;

                margin-bottom: 1rem;
                border-bottom: 0.1rem solid #808080;
            }
            & > li :first-child {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
        &__image {
            flex: 1 1;
            & > img {
                max-width: 10rem;
                max-height: 10rem;
            }
        }
        &__name {
            flex: 8 1;
            font-weight: bold;
            & > div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                & > select {
                    margin-right: 1.5rem;
                }
            }
        }
        &__price {
            flex: 1 1;
            font-size: 2.5rem;
            text-align: right;
        }
    }

    &__action {
        flex: 1 1 20rem;
        background-color: #f8f8f8;
        border: 1px solid #808080;
        border-radius: 0.5rem;
        padding: 1rem;
    }
}

// form

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-size: 2rem ;
    &__container {
        width: 40rem;
        border: 0.1rem solid #c0c0c0;
        border-radius: 0.5rem;
        padding: 3rem;
    }
    &__header{
        text-align: center;
        font-size: 3rem;

    }
    .btnn{
        margin: 1.5rem 0;
    }
    &__link{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }
}


//products-table
.products-table{
    margin: 2rem 0;
    font-size: 1.5rem;
    &__heading{
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
    }
}

//checkout steps
.checkout-steps{
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 1rem auto;
    padding: 2rem 0;
    & > div{
        border-top: .3rem solid #c0c0c0;
        color: #c0c0c0;
        flex: 1 1;
    }
    & > div.active{
        border-top: .3rem solid #f08000;
        color: #f08000;
    }
}


/* Place Order */

.placeorder {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
  }
  .placeorder-info {
    flex: 3 1 60rem;
  }
  .placeorder-action {
    flex: 1 1 20rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 1rem;
  }
  .placeorder-info > div {
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 1rem;
    margin: 1rem;
  }
  .placeorder-info > div:first-child {
    margin-top: 0;
  }
  .placeorder-action > ul {
    padding: 0;
    list-style-type: none;
  }
  .placeorder-action > ul > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .placeorder-action > ul > li:last-child {
    font-size: 2rem;
    font-weight: bold;
    color: #c04000;
  }
  .placeorder-actions-payment > div {
    width: 100%;
  }